@import "tailwindcss";
@plugin '@tailwindcss/typography';
@custom-variant dark (&:is(.dark *));

:root {
  --background: hsl(0 0% 100%);
  --foreground: hsl(0 0% 9%);
  --secondary: hsl(0 0% 96%);
  --line: hsl(150 5% 92%);
  --grey: hsl(0 0% 56%);
  --light-grey: hsl(28 35% 98%);
}

.dark {
  --background: hsl(0 0% 13%);
  --foreground: hsl(240 5% 84%);
  --secondary: hsl(0 0% 15%);
  --line: hsl(0 1% 19%);
  --grey: hsl(240 1% 38%);
  --light-grey: hsl(0 0% 19%);
}

@theme {
  --font-sans: "Inter Variable", "sans-serif";

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --color-line: var(--line);
  --color-grey: var(--grey);
  --color-light-grey: var(--light-grey);

  --color-primary: hsl(22 89% 65%);
}

@layer base {
  body {
    @apply bg-background text-foreground m-auto;
  }
}
