@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme {
  --font-sans: "Inter Variable", "sans-serif";

  --color-background: #161616;
  --color-primary: #f5945b;
  --color-secondary: #1c1c1c;
  --color-secondary-border: #302f2f;
  --color-offwhite: #d4d4d8;
  --color-grey: #a1a1aa;
}

body {
  margin: 0 auto;
  line-height: 1.5;
}
