@import "tailwindcss";
@plugin '@tailwindcss/typography';
@custom-variant dark (&:is(.dark *));

:root {
  --background: hsl(0 0% 100%);
  --foreground: hsl(240 10% 3.9%);
}

.dark {
  --background: hsl(0 0% 13%);
  --foreground: hsl(240 5% 84%);
}

@theme {
  --font-sans: "Inter Variable", "sans-serif";

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: #f5945b;
  --color-secondary: #1c1c1c;
  --color-secondary-border: #302f2f;
  --color-offwhite: #d4d4d8;
  --color-grey: #a1a1aa;
}

@layer base {
  body {
    @apply bg-background text-foreground m-auto;
  }
}
