---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogList from "../components/BlogList.astro";
---

<BaseLayout>
  <main class="px-4 sm:px-0 my-6">
    <section aria-labelledby="blog-heading">
      <h2 id="blog-heading" class="text-3xl mb-6">Blog</h2>
      <BlogList />
    </section>
  </main>
</BaseLayout>
