---
import { getCollection } from "astro:content";
import BlogPost from "./BlogPost.astro";

const allPosts = await getCollection("blog");

const formatDate = (dateString: string) => {
  const date = new Date(dateString);
  return date.toLocaleDateString("en-GB", { year: "numeric", month: "long" });
};
---

<h2 class="text-3xl mb-3">Articles</h2>
<ul>
  {
    allPosts.map((post: any) => (
      <BlogPost
        url={`/posts/${post.id}`}
        title={post.data.title}
        publishDate={formatDate(post.data.pubDate)}
      />
    ))
  }
</ul>
