---
import { getCollection } from "astro:content";
import BlogPost from "./BlogPost.astro";

const allPosts = (await getCollection("blog")).sort(
  (a, b) =>
    new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
);

const formatDate = (date: Date) => {
  return date.toLocaleDateString("en-GB", { year: "numeric", month: "short" });
};
---

<section aria-labelledby="blog-heading">
  {
    (
      <ul>
        {allPosts.map((post) => (
          <li>
            <BlogPost
              url={`/posts/${post.id}`}
              title={post.data.title}
              publishDate={formatDate(post.data.pubDate)}
            />
          </li>
        ))}
      </ul>
    )
  }
</section>
