---
import { tv } from "tailwind-variants";

const styles = tv({
  base: "flex items-center gap-2 px-4 py-2 text-white border rounded-lg hover:cursor-pointer",
  variants: {
    variant: {
      primary: "bg-primary border-none text-[#161616]",
      secondary:
        "bg-secondary border-line text-[#989ca6] shadow-xs dark:shadow-md",
      ghost: "bg-transparent",
    },
    size: {
      sm: "py-1 px-3 text-xs",
      md: "py-1.5 px-4 text-sm",
      lg: "py-2 px-6 text-md",
    },
  },
  defaultVariants: {
    size: "md",
    variant: "primary",
  },
});

const { text, icon, variant, size, class: className, ...attrs } = Astro.props;
---

<button class={styles({ variant, size, className })} {...attrs}>
  <slot name="icon" />
  {text}
</button>
