---
import Navigation from "./Navigation.astro";
import ThemeToggle from "./ThemeToggle.astro";
---

<header class="flex justify-between items-center mt-12">
  <a href="/" class="hover:text-white transition-colors duration-200"
    >Jordan Curley</a
  >
  <nav class="flex items-center gap-2 text-offwhite text-md">
    <Navigation />
    <ThemeToggle />
  </nav>
</header>
