---
import Navigation from "./Navigation.astro";
import ThemeToggle from "./ThemeToggle.astro";
---

<header class="flex justify-between items-center mt-12">
  <a
    href="/"
    class="dark:hover:text-white hover:text-black transition-colors duration-200">
    Home
  </a>
  <nav class="flex items-center gap-2 text-md">
    <Navigation />
    <ThemeToggle />
  </nav>
</header>
