---
const { url } = Astro.props;
---

<a
  href={url}
  class="rounded-md bg-secondary p-1.5 border border-secondary-border text-center text-lg text-offwhite transition-all shadow-sm hover:shadow-lg hover:text-white hover:cursor-pointer focus:bg-slate-700 focus:shadow-none active:bg-secondary-border hover:bg-secondary-border active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
  type="button"
>
  <slot name="icon" />
</a>
