---
const links = [
  { href: "/projects", label: "Projects" },
  { href: "/blog", label: "Blog" },
  { href: "/tags", label: "Tags" },
];
---

<div class="flex items-center gap-2">
  {
    links.map((link) => (
      <a
        href={link.href}
        class="hover:text-black dark:hover:text-white transition-colors duration-200">
        {link.label}
      </a>
    ))
  }
</div>
