---

---

<div
  class="prose dark:prose-invert
  prose-h1:font-bold prose-h1:text-xl
  prose-a:text-blue-600 prose-p:text-justify prose-img:rounded-xl
  prose-headings:underline prose-code:bg-[#2f2f2f] prose-code:p-1 prose-code:rounded-sm prose-code:text-grey">
  <slot />
</div>
