---

---

<div
  class="prose dark:prose-invert prose-h1:font-bold prose-h1:text-5xl prose-h2:text-4xl prose-h3:text-2xl prose-a:text-primary prose-img:rounded-xl prose-code:bg-[#2f2f2f] prose-code:p-1 prose-code:rounded-sm prose-code:text-grey">
  <slot />
</div>
