---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.pageTitle}>
  <p class="text-grey">Published {frontmatter.pubDate.toLocaleDateString()}</p>
  <slot />
</BaseLayout>
